@import 
url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap'); 
:root{ 
 --blue:#3282B8; 
} 
*{ 
 font-family: 'Nunito', sans-serif; 
 margin:0; padding:0; 
 box-sizing: border-box; 
 outline: none; border:none; 
 text-decoration: none; 
 text-transform: capitalize; 
 transition:all .2s linear; 
} 
*::selection{ 
 background:var(--blue); 
 color:#f6f8fc; 
} 
html{ 
 font-size: 62.5%; 
 overflow-x: hidden; 
 scroll-behavior: smooth; 
 scroll-padding-top: 6rem; 
} 

body{ 
 background:#f6f8fc; 
 padding-top: 80px;
} 
section{ 
 padding:2rem 9%; 
} 
 
header{ 
 position: fixed; 
 top:0; left: 0; right:0; 
 z-index: 1000; 
 display: flex; 
 align-items: center; 
 justify-content: space-between; 
 background:#1B262C; 
 padding:2rem 9%; 
 box-shadow: 0 .5rem 1rem rgba(0,0,0,.1); 
} 
header .logo{ 
 font-size: 2.5rem; 
 font-weight: bolder; 
 color:#fff; 
} 
header .logo i{ 
 padding-right: .5rem; 
 color:var(--blue); 
} 
header .navbar a{ 
 font-size: 2rem; 
 margin-left: 2rem; 
 color:#fff; 
} 
header .navbar a:hover{ 
 color:var(--blue); 
}
.aupg{
    font-size: 18px; 
    margin: 25px 25px 25px 25px;
    text-align: center;
    color:black;
    background-color: #fdfefe; /* Section background color */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

   
}
        
.container {
            max-width:1000px;
            margin: 0 auto;
            padding: 20px;
            box-shadow: 0 0 10px rgba(112, 147, 197, 0.359);
            background-color: #fff;
            border-radius: 15px;
        }
        li{
            font-size: 15px;
        }
        h1 {
            font-size: 32px;
           
        }
        h2 {
            font-size: 24px;
            background-color: #161f6d;
            color: #fff;
            padding: 10px;
            margin: 20px 0;
            border-radius: 10px;
        }
        p {
            font-size: 16px;
            font-weight: 450;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        ul li {
            margin-bottom: 10px;
        }
        .team-members {
            display: flex;
            justify-content: space-between;
        }
        .team-member {
            flex: 1;
            margin: 10px;
            padding: 20px;
            background-color: #f4f4f4;
            text-align: center;
        }
