@import 
url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap'); 
:root{ 
 --blue:#3282B8; 
} 
*{ 
 font-family: 'Nunito', sans-serif; 
 margin:0; padding:0; 
 box-sizing: border-box; 
 outline: none; border:none; 
 text-decoration: none; 
 text-transform: capitalize; 
 transition:all .2s linear; 
 padding-top: 10;
} 
*::selection{ 
 background:var(--blue); 
 color:#f6f8fc; 
} 
html{ 
 font-size: 62.5%; 
 overflow-x: hidden; 
 scroll-behavior: smooth; 
 scroll-padding-top: 6rem; 
} 

body{ 
 background:#f6f8fc; 
 padding-top: 60px;
} 
section{ 
 padding:2rem 9%; 
} 
 
header{ 
 position: fixed; 
 top:0; left: 0; right:0; 
 z-index: 1000; 
 display: flex; 
 align-items: center; 
 justify-content: space-between; 
 background:#1B262C; 
 padding:2rem 9%; 
 box-shadow: 0 .5rem 1rem rgba(0,0,0,.1); 
} 
header .logo{ 
 font-size: 2.5rem; 
 font-weight: bolder; 
 color:#fff; 
} 
header .logo i{ 
 padding-right: .5rem; 
 color:var(--blue); 
} 
header .navbar a{ 
 font-size: 2rem; 
 margin-left: 2rem; 
 color:#fff; 
} 
header .navbar a:hover{ 
 color:var(--blue); 
}


table {
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto; /* Center the table on the page */
    font-size: 12px; 
    padding: 10px;
    box-shadow: 0 0 10px rgba(69, 115, 181, 0.359);

}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2; /* Background color for table header cells */
}

div.PageTitle {
            text-align: center;
            padding: 20px;
            font-size: 5rem; 
            color:black; 
            margin: 25px 25px 10px 25px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            font-weight: 600;
            background-color: #fdfefe;

            
        }

        .Copyright {
            text-align: center;
            margin-top: 10px;
            font-size: small;
        }

        .Disclaimer {
            text-align: left;
            margin-top: 5px;
            font-size: small;
        }

        .CellHeading {
            border-bottom: solid 1px lightblue;
            font-weight: bold;
        }

        .AlternatingRow tr:nth-child(odd) {
            background-color: white;
        }

        .AlternatingRow tr:nth-child(even) {
            background-color: #E9F1F8;
        }

        .TabsAsButtons.k-tabstrip {
            text-align: center;
            width: 100%;
        }

            .TabsAsButtons.k-tabstrip .k-tabstrip-items {
                text-align: center;
            }

                .TabsAsButtons.k-tabstrip .k-tabstrip-items > .k-item {
                    background-image: none;
                    background-color: white;
                    border: solid 2px lightgray;
                    display: inline-block;
                    border-radius: 0px;
                    max-width: 300px;
                    height: auto;
                    margin-top: 5px;
                }

                    .TabsAsButtons.k-tabstrip .k-tabstrip-items > .k-item.k-state-active {
                        border: solid 2px #5B86AD !important;
                        background-color: #5B86AD !important;
                    }

                        .TabsAsButtons.k-tabstrip .k-tabstrip-items > .k-item.k-state-active .k-link {
                            color: white !important;
                        }

                .TabsAsButtons.k-tabstrip .k-tabstrip-items .k-item .k-link {
                    padding-top: 4px;
                    font-size: 0.9em;
                }

                .TabsAsButtons.k-tabstrip .k-tabstrip-items .k-item:not(:first-child) {
                    margin-left: 10px;
                }

            .TabsAsButtons.k-tabstrip .k-content {
                border: none;
            }
